In [222]:
print("Hello world!")

Hello world!

In [4]:
a=0o177

In [6]:
a

127

In [22]:
b=0xabc

In [24]:
b

2748

In [26]:
7//3

2

In [27]:
'hello'

'hello'

In [28]:
"hello"

'hello'

In [29]:
'''hello 
world'''

'hello \nworld'

In [31]:
print("hello: '안녕?'")

hello: '안녕?'

In [32]:
"hi"+"!!!"

'hi!!!'

In [37]:
"5"+"8"

'58'

In [38]:
len("hi"*4)

8

In [39]:
a="Life is too short, You need Python"

In [40]:
a[0]

'L'

In [41]:
a[-1]

'n'

In [42]:
len(a)

34

In [45]:
a[19:-7]

'You need'

In [46]:
a="pithon"

In [49]:
print("i eat %s apple"%())

i eat test apple

In [50]:
"i want to eat {0} apples".format(3)

'i want to eat 3 apples'

In [97]:
say = "{0:^10} want to eat {1} hambergers"

In [98]:
say.format("you",3)

'   you     want to eat 3 hambergers'

In [73]:
say.format(111,"many")

'111 want to eat many hambergers'

In [74]:
d = {'name':'홍길동','age':30}

In [80]:
f'나의이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의이름은 홍길동입니다. 나이는 30입니다.'

In [91]:
a="hobby"

In [92]:
a.count('b')

2

In [99]:
'elnk@naver.com'.count('@')

1

In [104]:
email = 'dlkdnlk@naver.com'

In [108]:
email.index('@')

7

In [109]:
",".join('abcd')

'a,b,c,d'

In [110]:
" ".join("test")

't e s t'

In [1]:
", ".join(['a','12','e'])

'a, 12, e'

In [114]:
a = "hi"

In [117]:
a.upper()

'HI'

In [118]:
a.capitalize()

'Hi'

In [119]:
b='          jh            '

In [121]:
b.lstrip()

'jh            '

In [122]:
b.strip()

'jh'

In [123]:
a = "Life is too short"

In [124]:
a.replace("L","M")

'Mife is too short'

In [125]:
a

'Life is too short'

In [130]:
a.split(",")

['Life', 'is', 'too', 'short']

In [129]:
a = a.replace(" ",",")

만들면 변경x final같은 느낌 : (튜플)  ||   {딕셔너리} set{"값"} dic{"키","값"}  : index X ||  [리스트] :순서, index

In [131]:
a = []

In [132]:
type(b)

str

In [133]:
a=input("숫자입력")

숫자입력 1010

In [134]:
b = int(a)

In [135]:
type(b)

int

In [136]:
c = float(a)

In [137]:
type(c)

float

In [141]:
a.isdecimal()

True

In [139]:
d = 'q'

In [143]:
a= [1,2,3]

In [144]:
a

[1, 2, 3]

In [145]:
a[1] = 4

In [146]:
a

[1, 4, 3]

In [148]:
del a[1]

In [149]:
a

[1, 3]

In [150]:
del a

In [153]:
a=[1,4,6,3,2]

In [157]:
a.sort(reverse = True)

In [158]:
a

[6, 4, 3, 2, 1]

In [159]:
type(a)

list

In [160]:
a

[6, 4, 3, 2, 1]

In [161]:
a.append(5)

In [162]:
a

[6, 4, 3, 2, 1, 5]

In [163]:
a.insert(2,10)

In [164]:
a

[6, 4, 10, 3, 2, 1, 5]

In [165]:
a.sort()

In [166]:
a

[1, 2, 3, 4, 5, 6, 10]

In [168]:
a.index(7)

ValueError: 7 is not in list

In [169]:
b=['b','c','y','e']

In [171]:
b.index('c')

1

In [172]:
c

1010.0

In [173]:
b.remove('c')

In [174]:
b

['b', 'y', 'e']

In [175]:
b.pop('b')

TypeError: 'str' object cannot be interpreted as an integer

In [176]:
b

['b', 'y', 'e']

In [177]:
b.pop('b')

TypeError: 'str' object cannot be interpreted as an integer

In [178]:
a

[1, 2, 3, 4, 5, 6, 10]

In [179]:
a.pop(2)

3

In [180]:
a

[1, 2, 4, 5, 6, 10]

In [181]:
b.pop(1)

'y'

In [182]:
b

['b', 'e']

In [183]:
pop?

Object `pop` not found.

In [184]:
pop()?

SyntaxError: invalid syntax (<ipython-input-184-dc3a616b7d2e>, line 1)

In [186]:
?pop

Object `pop` not found.

In [191]:
t1=()

In [192]:
type(t1)

tuple

In [193]:
t2=(1,)

In [194]:
t2

(1,)

In [196]:
t4 = 1,2,3

In [197]:
type(t4)

tuple

In [202]:
t5 = 1,2,3,[2,3,4,1]

In [203]:
t5

(1, 2, 3, [2, 3, 4, 1])

In [205]:
t5[3][0] = 3

In [206]:
t5

(1, 2, 3, [3, 3, 4, 1])

In [207]:
t5=1

In [208]:
t5

1

In [209]:
dic={1:1,2:2}

In [210]:
dic

{1: 1, 2: 2}

In [243]:
dic={'a':[2,3,34],2:2, 'tuple':(1,2,3)}

In [226]:
dic

{'a': [2, 3, 34], 2: 2, 'tuple': (1, 2, 3)}

In [218]:
dic.get('a')

[2, 3, 34]

In [219]:
dic[2]

2

In [221]:
dic['a'][0]

2

In [223]:
dic['a'][0] = 3

In [224]:
dic['a']

[3, 3, 34]

In [227]:
dic['tuple'][0] = 2

TypeError: 'tuple' object does not support item assignment

In [228]:
dic.keys()

dict_keys(['a', 2, 'tuple'])

In [230]:
dic.items()

dict_items([('a', [2, 3, 34]), (2, 2), ('tuple', (1, 2, 3))])

In [231]:
dic.values()

dict_values([[2, 3, 34], 2, (1, 2, 3)])

In [234]:
for k in dic.keys():
    print("key : " + k)
    print("value : " + dic[k])

key : a

TypeError: can only concatenate str (not "list") to str

In [235]:
list1 = list(dic.keys())

In [236]:
list2 = dic.keys()

In [238]:
dic.clear()

In [239]:
dic

{}

In [241]:
del(dic)

In [244]:
dic['a']

[2, 3, 34]

In [245]:
dic.get(1)

In [246]:
dic

{'a': [2, 3, 34], 2: 2, 'tuple': (1, 2, 3)}

In [251]:
a={'name':'홍길동'}

In [252]:
'name' in a

True

In [253]:
'email' in a

False

In [254]:
'홍길동' in a

False

In [257]:
s1 = set([1,2,3,3])

In [258]:
s1

{1, 2, 3}

In [259]:
s2 = set('hello')

In [260]:
s2

{'e', 'h', 'l', 'o'}

In [261]:
l1 = [1,2,3,4,5,6,7]

In [262]:
l2 = [4,5,6,7,8,9]

In [263]:
totli = l1+l2

In [264]:
totli

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 9]

In [266]:
l4 = set(totli)

In [268]:
l4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [269]:
s1 = set([1,2,3,4,5,6])

In [270]:
s2 = set([4,5,6,7,8,9])

In [271]:
s1 & s2

{4, 5, 6}

In [272]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [273]:
s1 - s2

{1, 2, 3}

In [274]:
s2 - s1

{7, 8, 9}

In [275]:
s1

{1, 2, 3, 4, 5, 6}

In [276]:
s1.add(4)

In [277]:
s1

{1, 2, 3, 4, 5, 6}

In [278]:
s1.add(8)

In [279]:
s1

{1, 2, 3, 4, 5, 6, 8}

In [280]:
s1.add([1,2,3,4])

TypeError: unhashable type: 'list'

In [281]:
s1.update([7,6,5,10,23])

In [282]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 10, 23}

In [283]:
s1.update?

Docstring: Update a set with the union of itself and others.
Type:      builtin_function_or_method

In [285]:
s1.remove(2)

In [286]:
s1

{1, 3, 4, 5, 6, 7, 8, 10, 23}

In [297]:
a = [1,2,3]

In [292]:
while a:
    print(a.pop())

In [296]:
if a :
    print("들어있음")
else : print("empty")

들어있음

In [298]:
id(a)

1523990207368

In [299]:
b=[4,5,6]

In [300]:
id(b)

1523993356424

In [301]:
b = a

In [302]:
id(b)

1523990207368

In [303]:
a is b

True

In [304]:
a is not b

False

In [305]:
a

[1, 2, 3]

In [306]:
b

[1, 2, 3]

In [309]:
a.insert(4,2)

In [310]:
b

[1, 2, 3, 2]

In [311]:
from copy import copy

In [312]:
a = [1,2,3]

In [314]:
b = copy(a)

In [315]:
id(a)

1523988487624

In [316]:
id(b)

1523990822664

In [317]:
num = 32

In [320]:
type(num)

int

In [2]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [3]:
print(add_mul('add', 1,2,3,4,5,6,7,8,9))

45

In [5]:
print(add_mul('mul', 1,2,3,4,5,6,7,8))

40320

In [6]:
def print_kwargs(**kwargs):
    print(kwargs)

In [7]:
print_kwargs(name='lee', age = '30', addr="대구")

{'name': 'lee', 'age': '30', 'addr': '대구'}

In [8]:
def add_and_mul(a,b):
    return a+b, a*b

In [9]:
result = add_and_mul(3,4)

In [11]:
print(result)
print(type(result))

(7, 12)
<class 'tuple'>

In [28]:
def say_myself(name,old,*addr,man=True):
    print("나의 이름은 ",name,"입니다.")
    print("나이는 ",old,"살입니다.")
    if man : 
        print("나의 성별은 남자")
    else:
        print("나의 성별은 여자")
    for i in addr:
        print(i)

In [29]:
say_myself("이승목","20")

나의 이름은  이승목 입니다.
나이는  20 살입니다.
나의 성별은 남자

In [30]:
say_myself("이승목","23","대구","부산","포항","광주","경주")

나의 이름은  이승목 입니다.
나이는  23 살입니다.
나의 성별은 남자
대구
부산
포항
광주
경주